html {
  font-family: 'Commissioner', sans-serif;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

p {
  color: $dark-gray;
  line-height: 1.8;
  margin-bottom: 3rem;
}